@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body {
    background-color: #fefffe;
    background-image: url('img/-2-4-removebg-preview.png'); 
    background: linear-gradient( 45deg, #1F2544 , #474F7A , #81689D , #FFD0EC);
    background-size: 100%;
    color: #fff;
    font-family: "Itim", sans-serif;
    font-size: 20px;
    font-weight: bold ;
    margin: 0;
    padding: 0;
    
}

#game-score {
    width: 450px;
    height: 50px;
    /* border: 2px solid #fff; */
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}
#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}
#game-board {
    width: 450px;
    height: 500px;
    /* border: 2px solid #fff; */
    background-size: cover;
    position: relative;
    z-index: 0;
}
#game-inventory {
    width: 450px;
    height: 100px;
    /* border: 2px solid #fff; */
    /* background-image: url('space_background.jpg'); */
    background-size: cover;
    justify-content: space-evenly;
    margin-top: 1px;
    display: flex;
    align-items: center;
}

#inventory-item {
    width: calc(30% - 2px);
    height: 100px;
    /* border: 2px solid #fff; */
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear-container {
margin-left: 10px; /* Adjust this margin as needed */
}
.inv {
    width: 60px;
    height: 60px;
    background-image: url('https://cdn.discordapp.com/attachments/1228366298640285696/1229439001421938779/aukkabad.png?ex=662faf4b&is=661d3a4b&hm=a1e42ac8b264e3cf1c119a0907aacc706ba99c880e5c01edffc6dfdd92abc36b&');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    /* border: #9626f7 2px solid;   */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-shadow: 0 0 5px #0000FF;
    font-weight: bold;
    position: relative;
    text-align: center;
}

#clear-button {
    position: absolute;
    bottom: 5px;
    padding: 2px 2px;
}

#calculator {
    width: calc(60% - 2px);
    height: 100px;
    /* border: 2px solid #fff; */
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.calcu {
    width: 70px;
    height: 70px;
    background-image: url('https://media.discordapp.net/attachments/1228366298640285696/1229455528665546762/Pngtreeeddy_explosion_blast_boom_vector_6442118.png?ex=662fbeb0&is=661d49b0&hm=89955a80e1ce7606bf9c9bbb81454a6d33ca17ff53831f6f742612ae53bbb5ce&=&format=webp&quality=lossless&width=651&height=651');
    /* border: #f84343 2px solid; */
    background-size:70px 70px;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    position: relative;
    /* margin:  5px; */
    text-align: center;
}
#opera {
    width: 30px;
    height: 30px;
    border: #ffffff 2px solid;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: relative;
}
.button {
    padding: 8px 11px;
    margin: 0 5px;
    background-color: #FFD0EC;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
button:hover {
        background-color: #81689D;
}
.operator {
    width: 50px;
    height: 35px;
    /* background-color: #ff0; */
    border: #ffffff 2px solid;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.operator:hover {
    background-color: hsla(0, 0%, 100%, 0.30);
}
.operator.disabled {
    opacity: 0.5;
    pointer-events: none;
}
#plus {
    left: 20%;
}
#minus {
    left: 40%;
}
#multi {
    left: 60%;
}
#divide {
    left: 80%;
}
.enemy {
    width: 70px;
    height: 70px;  /* ปรับขนาด Div ตรงนี้ */
    background-image: url('https://cdn.discordapp.com/attachments/1228366298640285696/1229439001421938779/aukkabad.png?ex=662faf4b&is=661d3a4b&hm=a1e42ac8b264e3cf1c119a0907aacc706ba99c880e5c01edffc6dfdd92abc36b&');
    background-position: 50% 50%;
    background-size: 70px 70px; /* ปรับขนาดรูปตรงนี้ */
    /* border: #67f5b2 10px solid; */
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 65px;
    text-shadow: 0 0 5px #0000FF;
    text-align: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
 .enemy:hover{
    background-size: 75px 75px;
    /* border: #d17dff 2px solid; */
} 



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
#score-results{
    color: #000;
    font-weight: bold;
}

audio {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}